<apex:page controller="AppFeedbackController" showHeader="false" sidebar="false" action="{!Redirect}">
	<html xmlns="http://www.w3.org/1999/xhtml"/>
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.NPS, '/NPS/css/style.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.NPS, '/NPS/css/form-styles.css')}"/>
            <style>
                form span {
                    font-size: 14px;
                    display: block;
                }
                form textarea {
                    min-height: 200px;
                }
            </style>
            <title> Thanks for your feedback | Addison Lee</title>
        
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        
            <body class="">
                <header class="nav-down">
                    <a class="home" href="https://www.addisonlee.com/"> <img src="https://www.addisonlee.com/wp-content/themes/addlee-2014/static/images/logo_2x.png" width="120" height="60" alt="Addison Lee" /> </a>
                    <nav>
                        <div id="nav-icon"> <span></span> <span></span> <span></span></div>
                        <h5>Main Navigation</h5>
                        <ul id="primary-nav">
                            <li class="sign-up"> <a href="https://book.addisonlee.com/al/registration" class="booknow-btn ns-booknow" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'signUp', 'eventLabel': 'menu'});">Sign up</a></li>
                            <li class="log-in"> <a href="https://book.addisonlee.com/" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'login', 'eventLabel': 'menu'});">Log in</a></li>
                        </ul> <a href="tel:020 7407 9000" class="contact" onclick="dataLayer.push({'event': 'Click', 'eventCategory' : 'click', 'eventAction' : 'call', 'eventLabel': 'menu'});">To book now call 020 7407 9000</a> </nav>
                </header>
                
                <article class="feature">
                    <section>
                        <h2 class="feedback-message"></h2>
                        <apex:form style="text-align:left;">
                            <apex:repeat value="{!strings}" var="string" id="theRepeat">
                                <apex:outputText value="{!string}" id="theValue"/><br/>
                            </apex:repeat>
                            <br></br>
                            <apex:inputTextarea value="{!comment}" label="Type here..."/>
                            <br></br>
                            <apex:commandButton value="Submit feedback" action="{!Submit}"/>
                        </apex:form>
                    </section>
                </article>
                <footer>
                    <aside>
        
                        <div class="menu">
                            <ul class="links">
                                <li id="menu-item-9256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9256"><a href="https://www.addisonlee.com/terms/">Terms &#038; Conditions</a></li>
                                <li id="menu-item-9257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9257"><a href="https://www.addisonlee.com/privacy-policy/app/">Privacy Policy</a></li>
                                <li id="menu-item-9258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9258"><a href="https://www.addisonlee.com/sitemap/">Sitemap</a></li>
                            </ul>
                        </div>
                        <p>&copy; 2015 Addison Lee Limited, Registered in England: No. 01205530.
                            <br></br><span> | </span> Registered Office: 35-37 William Road, London NW1 3ER</p>
                    </aside>
                </footer>
            </body>
        </head>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</apex:page>