<apex:page controller="AddLee_Person_Quick_Search_Controller" sidebar="false" showHeader="false" showChat="false" docType="html-5.0">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
  <apex:includeScript value="{!URLFOR($Resource.jQuery, 'jquery.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.jQueryui, 'jquery-ui.min.js')}"  />
  <apex:includeScript value="{!URLFOR($Resource.modernizr, 'modernizr.js')}"  />
  <script>
    $(function() {
      if(!Modernizr.inputtypes.date){
        //$( 'input[id$=birthdate]' ).datepicker($.datepicker.regional[ 'English'] );
        $( 'input[id$=birthdate]' ).datepicker({ changeMonth: true,changeYear: true });
        $( 'input[id$=birthdate]' ).datepicker( "option", "dateFormat", 'yy-mm-dd' );
        
      }
    });

    $.datepicker.regional[ 'English'] ;
    function redirect(){
        var redirectUrl = '';
        //alert(document.getElementById('{!$Component.theForm.theBlock.theSection.firsNameSection.firstName}').value);
        if(document.getElementById('{!$Component.theForm.theBlock.theSection.firsNameSection.firstName}').value == ''){
            //alert("Please Enter First Name to Search");
            return false;
        }else if(document.getElementById('{!$Component.theForm.theBlock.theSection.birthdateSection.birthdate}').value == ''){
            //alert("Please Enter First Name to Search");
            return false;
        }
        redirectUrl += "/apex/PersonAccountSearch?firstName=" + document.getElementById('{!$Component.theForm.theBlock.theSection.firsNameSection.firstName}').value;
        redirectUrl += "&lastName=" + document.getElementById('{!$Component.theForm.theBlock.theSection.lastNameSection.lastName}').value;
        redirectUrl += "&birthdate=" + document.getElementById('{!$Component.theForm.theBlock.theSection.birthdateSection.birthdate}').value;
        redirectUrl += "&email=" + document.getElementById('{!$Component.theForm.theBlock.theSection.emailSection.email}').value;
        redirectUrl += "&salutation=" + document.getElementById('{!$Component.theForm.theBlock.theSection.salutationSection.salutation}').value;
        //alert("Redirecting! " + redirectUrl);
        window.top.location.href = redirectUrl;
    }
  </script>
  <apex:form id="theForm">
    <apex:pageBlock title="Personal Account" id="theBlock">
        <apex:pageBlockButtons location="bottom" id="theButtons"> 
            <apex:commandButton value="Search" title="Search" onclick="redirect()" ></apex:commandButton>
        </apex:pageBlockButtons>
        <apex:pageBlockSection columns="1" id="theSection">
          <apex:outputLabel >
              Salutation
          </apex:outputLabel>
          <apex:pageblockSectionItem id="salutationSection" >
            <apex:selectList value="{!salutation}" multiselect="false" size="1" id="salutation">
                <apex:selectOption itemValue="Mr." itemLabel="Mr."/>
                <apex:selectOption itemValue="Ms." itemLabel="Ms."/>
                <apex:selectOption itemValue="Dr." itemLabel="Dr."/>
                <apex:selectOption itemValue="Prof." itemLabel="Prof."/>
                <apex:selectOption itemValue="Baron" itemLabel="Baron"/>
                <apex:selectOption itemValue="Baroness" itemLabel="Baroness"/>
                <apex:selectOption itemValue="Count" itemLabel="Count"/>
                <apex:selectOption itemValue="Countess" itemLabel="Countess"/>
                <apex:selectOption itemValue="Duke" itemLabel="Duke"/>
                <apex:selectOption itemValue="Earl" itemLabel="Earl"/>
                <apex:selectOption itemValue="Lady" itemLabel="Lady"/>
                <apex:selectOption itemValue="Lord" itemLabel="Lord"/>
                <apex:selectOption itemValue="Miss" itemLabel="Miss"/>
                <apex:selectOption itemValue="Prince" itemLabel="Prince"/>
                <apex:selectOption itemValue="Princess" itemLabel="Princess"/>
                <apex:selectOption itemValue="Rev." itemLabel="Rev."/>
                <apex:selectOption itemValue="Sir" itemLabel="Sir"/>
                <apex:selectOption itemValue="Viscount" itemLabel="Viscount"/>
                <apex:selectOption itemValue="Premier" itemLabel="Premier"/>
                <apex:selectOption itemValue="Mayor" itemLabel="Mayor"/>
                <apex:selectOption itemValue="President" itemLabel="President"/>
                <apex:selectOption itemValue="King" itemLabel="King"/>
            </apex:selectList>
          </apex:pageblockSectionItem>
          <apex:outputLabel >
              First Name
          </apex:outputLabel>
          <apex:pageblockSectionItem id="firsNameSection">
            <apex:outputLabel value="" For="firsName" />
            <apex:inputText value="{!Firstname}" id="firstName" required="true"/>
          </apex:pageblockSectionItem>
          <apex:outputLabel >
              Last Name
          </apex:outputLabel>
          <apex:pageblockSectionItem id="lastNameSection">
            <apex:outputLabel value="" For="lastName" />
            <apex:inputText value="{!LastName}" id="lastName" required="true"/>
          </apex:pageblockSectionItem>
          <apex:outputLabel >
             Email
          </apex:outputLabel>
          <apex:pageblockSectionItem id="emailSection">
            <apex:outputLabel value="" For="email" />
            <apex:input value="{!email}" id="email" required="true" type="email"/>
          </apex:pageblockSectionItem>
          <apex:outputLabel >
             Birthdate
          </apex:outputLabel>
          <apex:pageblockSectionItem id="birthdateSection">
            <apex:outputLabel value="" For="birthdate" />
            <apex:input value="{!Birthdate}" required="true" id="birthdate" type="date"/>
          </apex:pageblockSectionItem>
        </apex:pageBlockSection>    

    </apex:pageBlock>
  </apex:form>
</apex:page>